/* Challenge ボタンにカーソルが乗ったら背景色を変えよう！ */
.item:hover:not(:empty) {
  background-color: #ddd;
}

h1 {
  text-align: center;
}
.container {
  display: flex;
}

.item {
  flex: 1;
  padding: 10px;
  background-color: #eee;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  user-select: none;
}
.answer {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  direction: rtl;
}
.empty {
  border: none;
  background-color: #fff;
  flex: 1;
  padding: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}
